body {
    background: url("images/eifel2_bg.jpg") center/cover;
}

#Menu button {
    display: block;
    margin: 10px auto;
    border-radius: 23px;
    width: 205px;
}

.active {
    display: initial;
}

.card-wide.mdl-card {
  width: 95%;
  margin-bottom: 10px;
}

.card-wide > .mdl-card__title-image {
  color: #fff;
  height: 176px;
  background: grey;
}